body{
    background-color: #2f3542;
    color: #fff;
    font-family: 'Poppins', sans-serif;;
}

.container{
    width: 1120px;
    margin: 25% auto;
}

.buttons{
    width: 250px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}